@font-face {
    font-family: "helvetica";
    src: url(asset/font/Helvetica.ttf);
}
html,body,input, a, p,h1,h2,h3,textarea,h4,h5,h6,button, ul,ol,li{
    font-family: "helvetica";
    font-size: 1rem;
    color: var(--black);
    font-weight: 100;
    text-decoration: none;
    background: none;
    border: none;
    padding:0;
    margin: 0;
    overflow: hidden;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body{
    background-color: var(--bg);
}

.page_container{
    display: flex;
    justify-content: center;
}
.page_container .page_wrapper{
    padding: 2rem 20rem;
    width: 100dvw;
}
@media (max-width :600px) {
    .page_container .page_wrapper{
        padding: 2rem 2rem;
        width: 90dvw;
    }
}
input{
    border: none;
    border-width: 1px;
    box-shadow: var(--black_outline) 1px 1px 3px;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
}
input:focus{
    outline: none;
}
textarea{
    resize: none;
    border: none;
    border-width: 1px;
    box-shadow: var(--black_outline) 1px 1px 3px;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
}
textarea:focus{
    outline: none;
}





/* PROFILE PAGE */
.profile_container .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.profile_container .wrapper h1{
    font-size: 2rem;
    color: var(--unhighlight_text);
    margin-top: 2rem;
}

.profile_container .wrapper h2{
    font-size: 1.3rem;
    color: var(--unhighlight_text);
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.profile_container .wrapper div{
    display: flex;
    flex-direction: row;
}
.profile_container .wrapper div h3{
    font-size: 1.3rem;
    width: 6rem;
    color: var(--unhighlight_text);
}
.profile_container .wrapper div .profile_info{
    color: var(--primary);
}

.profile_container .wrapper .logout_button{
    margin-top: 3rem;
    font-size: 1.3rem;
    color: var(--control_red);
    text-align: start;
}




/* LOGINPAGE */
.user_login_btn{
    background-color: var(--primary);
    color: 3rem;
    color: var(--purewhite);
    padding: 1rem 3rem;
    border-radius: 0.9rem;
}
.admin_login_btn{
    margin-top: 2rem;
    background-color: var(--primary);
    color: 3rem;
    color: var(--purewhite);
    padding: 1rem 3rem;
    border-radius: 0.9rem;
}
.show_user{
    margin-top: 1rem;
    color: var(--unhighlight_text);
}
.show_admin{
    margin-top: 1rem;
    color: var(--unhighlight_text);
}
.login_container .wrapper{
    height: 100dvh;
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    justify-content: center;
}
.login_container .wrapper .top{
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login_container .wrapper .top img{
    object-fit: contain;
}
.login_container .wrapper .bottom{
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 9rem;
}
.login_container .wrapper img{
    height: 7rem;
    margin-bottom: 1rem;
}
.login_container .wrapper h1{
    font-size: 1.2rem;
    text-align: center;
    color: var(--unhighlight_text);
}

.login_container .wrapper strong{
    color: var(--primary);
}
.login_container .wrapper .user_box {
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.5s ease, visibility 0.5s ease;

}
.login_container .wrapper .user_box.hide {
    opacity: 0;
    visibility:hidden;
    display: none;
    transition: opacity 0.5s ease, visibility 0.5s ease; 

}

.login_container .wrapper .admin_box {
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: opacity 0.5s ease, visibility 0.5s ease;

}
.login_container .wrapper .admin_box.show {
    opacity: 1;
    visibility: visible;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}














/* HEADER */
.header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}
.header img{
    width: 7rem;
    object-fit: contain;
}
.header div{
    display: flex;
    align-items: center;
}
.header div a{
margin-left: 2rem;
}

.nav{
    color: var(--unhighlight_text);
    transition: 0.5s;
}
.nav:hover{
    color: var(--unhighlight_text_hover);
    transition: 0.5s;

}
.nav.active{
    color: var(--primary);
}
.header .role_pic{
    width: 2.8rem; 
    margin-left: 2.5rem;
    border-radius: 4rem;
    object-fit: contain;
}
@media (max-width : 500px)  {
    .nav{
        display: none;
    }
} 



















/* FUNDS */

.funds_container .wrapper .total_classfunds{
    /* width: fit;  */
    display: flex;
    flex-direction: row;
    justify-content: end;
} 
.funds_container .wrapper .total_classfunds h1{
    color: var(--unhighlight_text);
} 
.funds_container .wrapper .total_classfunds .total_classfunds_text{
    color: var(--primary);
    margin-left: 10px;
} 


.funds_container .wrapper{
    background-color: var(--purewhite);
    padding: 2rem;
    border-radius: 0.5rem;
}
.funds_container .wrapper div {
    height: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.funds_container .wrapper .funds_table_label {
        display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 0.8rem;
    margin-bottom: 1.5rem;
}
.funds_container .wrapper .funds_table_label div{
        display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 0.8rem;
}
.funds_container .wrapper .funds_table_label span{
    color: var(--unhighlight_text);
    text-align: center;
}
.funds_container .wrapper .search_box{
    background-color: var(--purewhite);
}

.funds_container .wrapper .column_wrapper_hide{
    display: none;
}

.funds_container .wrapper .column_wrapper #list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.funds_container .wrapper .column_wrapper .name_btn span:nth-child(1){
    color: var(--unhighlight_text);
}
.funds_container .wrapper .column_wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--purewhite);
    transition: 0.5s;
    padding: 0.01rem 0;
    cursor: pointer;
}
.funds_container .wrapper .column_wrapper:hover{
    cursor: pointer;
    background-color: var(--lightgray);
    transition: 0.5s;
}
.funds_container .wrapper .column_wrapper div:nth-child(1){
    cursor: pointer;
    display: grid;
    background-color: #fff;
    grid-template-columns: 1fr 1fr 1fr;
}
.funds_container .wrapper .column_wrapper div:nth-child(2){
    grid-template-columns: 1fr 1fr;
}

.funds_container .wrapper .column_wrapper div:nth-child(1) span{
    align-self: center;
}

.funds_container .wrapper ol .add_btn{
    cursor: pointer;

    margin-left: 2rem;
    margin-right: 2rem;
    color: var(--control_green);
}.funds_container .wrapper ol .add_btn.hide{
    display: none;
}
.funds_container .wrapper ol .spend_saving_btn{
    cursor: pointer;

    margin-left: 2rem;
    margin-right: 2rem;
    color: var(--control_red);
}
.funds_container .wrapper ol .spend_saving_btn.hide{
    display: none;
}

.funds_container .wrapper ol .view_btn{
    cursor: pointer;

    margin-left: 2rem;
    margin-right: 2rem;
    color: var(--primary);
}

.empty{
    text-align: center;
    color:var(--unhighlight_text);
    margin-top: 3rem;
}
@media (max-width : 500px) {
    .funds_container .wrapper .column_wrapper{
        display: grid;
        grid-template-columns: 1fr;
        background-color: var(--purewhite);
        cursor: pointer;
        height: 2.5rem;
    }
    
    .funds_container .wrapper .column_wrapper div:nth-child(2){
        display: none;
    }
    .funds_container .wrapper .funds_table_label {
        display: grid;
        grid-template-columns:1fr;
        margin-top: 0.8rem;
        margin-bottom: 0.5rem;
    }
    .funds_container .wrapper .total_classfunds h1{
        display: none;
    } 
    .funds_container .wrapper .top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .funds_container .wrapper .search_box{
        width: 8rem;
    }
    
    .funds_container .wrapper .column_wrapper{
        padding: 0.6rem 0;
    }

}



/* POPUP CONTAINER */
.popup_container{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}
.popup_container.show{
    display: flex;
    opacity: 1;
    visibility:visible;

    
}


/* ADD COINTAINER */
.popup_container .wrapper{
    width: 100dvw;
    height: 100dvh;
    background-color: var(--primary_background);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup_container .wrapper .add_box{
    display: none;
    transition: 0.5s;
}

.popup_container .wrapper .add_box.show{
    transition: 0.5s;
    width: 20rem;
    height: 25rem;
    background: var(--white);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
}

.popup_container .wrapper .add_box h3{
    width: 15rem;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1rem;
}

.popup_container .wrapper .add_box .amount{
    width: 15rem;
}
.popup_container .wrapper .add_box .description{
    margin-top: 1rem;
    height: 13rem;
    width: 15rem;
}
.popup_container .wrapper .add_box .add{
    cursor: pointer;
 
    background-color: var(--control_green);
    padding: 1rem 2rem;
    color: white;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.popup_container .wrapper .add_box .close{
    cursor: pointer;

    color: var(--control_red);
    border-radius: 0.5rem;
    margin-top: 0.7rem;
}






/* VIEW BOX */

.popup_container .wrapper .view_box{
    display: none;
}

.popup_container .wrapper .view_box.show{
    width: 20rem;
    height: 25rem;
    background: var(--white);
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    padding: 3rem 2rem;
}
.popup_container .wrapper .view_box h3{
    text-align: center;
}
.popup_container .wrapper .view_box h2{
    text-align: center;
    margin-bottom: 0.8rem;
    color: var(--unhighlight_text);
}

.popup_container .wrapper .view_box .info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.popup_container .wrapper .view_box .info h3{
    color: var(--unhighlight_text);
}
.popup_container .wrapper .view_box .info h2{
    color: var(--primary);
}
.popup_container .wrapper .view_box ol{
    overflow-y: auto;
}

.popup_container .wrapper .view_box ol div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 0.2rem;
    color: var(--black);
}

.popup_container .wrapper .view_box ol div span:nth-child(3){
    color: var(--unhighlight_text);
}


.popup_container .wrapper .view_box .close{
    cursor: pointer;
    color: var(--control_red);
    border-radius: 0.5rem;
    margin-top: 0.7rem;
}


.popup_container .wrapper .view_box ol .div_2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.7fr;
    margin-top: 0.2rem;
    color: var(--black);
}

.popup_container .wrapper .view_box ol .div_2 a{
    color: var(--primary);
    text-align: center;
}
.popup_container .wrapper .view_box ol .div_2 span:nth-child(4){
    color: var(--unhighlight_text);
}





/* SPEND POPUP */
.spend_btn{
    cursor: pointer;

    position: absolute;
    bottom: 3rem;
    right: 9rem;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    background-color: var(--control_red);
    color: var(--purewhite);
    box-shadow: var(--white) 2px 2px 5px;
    border-radius: 1rem;
}
.spend_btn.hide{
    display: none;
}
@media (max-width : 500px) {
    .spend_btn{
        display: none;
    }
}

/* SPEND COINTAINER */
.popup_container .wrapper .spend_box{
    display: none;
    transition: 0.5s;
}

.popup_container .wrapper .spend_box.show{
    transition: 0.5s;
    width: 20rem;
    height: auto;
    background: var(--white);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
}

.popup_container .wrapper .spend_box div:nth-child(1){
    width:15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.popup_container .wrapper .spend_box div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.popup_container .wrapper .spend_box div:nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.popup_container .wrapper .spend_box .spend_amount{
    width: 15rem
}
.popup_container .wrapper .spend_box .spend_image{
    width: 15rem;
    box-shadow: var(--white);
}
.popup_container .wrapper .spend_box .spend_description{
    margin-top: 1rem;
    height: 5rem;
    width: 15rem;
}
.popup_container .wrapper .spend_box .spend_add{
    background-color: var(--control_red);
    padding: 1rem 2rem;
    color: white;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.popup_container .wrapper .spend_box .spend_close{
    color: var(--control_red);
    border-radius: 0.5rem;
    margin-top: 0.7rem;
}
.popup_container .wrapper .spend_box .title{
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--unhighlight_text_hover);
}








/* MOBILE NAV */

.mobile_nav{
    display: none;
}

@media (max-width : 500px) {
    .mobile_nav{
        display: flex;
        justify-content: center;

    }
    .mobile_nav .wrapper{
        width: fit-content;
        height: 2.5rem;
        position: absolute;
        bottom: 2rem;
        background-color: var(--purewhite);
        border-radius: 0.9rem;
        box-shadow: rgba(0, 0, 0, 0.095) 1.5px 1.5px 6px ;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0.5rem 1rem;
    }
    .mobile_nav .wrapper a { 
        height:2.5rem;
        align-items: center;
        display: flex;
        font-size: 1.5rem;
        color: var(--unhighlight_text);
        transition: 0.5s;
        padding: 0 0.5rem;
    }
    
    .mobile_nav .wrapper a:hover { 
        height:2.5rem;
        align-items: center;
        display: flex;
        font-size: 1.5rem;
        color: var(--unhighlight_text_hover);
        transition: 0.5s;
        padding: 0 0.5rem;
    }
    
    .mobile_nav .wrapper .active { 
        transition: 0.5s;
        color: var(--primary);
    }
    .mobile_nav .wrapper .new_btn2.hide{
        display: none;
    }
    .mobile_nav .wrapper .new_btn2{
        background-color: var(--primary);
        color: var(--purewhite);
        text-align: center;
        width: 4rem;
        margin-left: 0.5rem;
        border-radius: 0.9rem;
    }
    .mobile_nav .wrapper .spend_btn2{
        background-color: var(--control_red);
        color: var(--purewhite);
        text-align: center;
        width: 4rem;
        margin-left: 0.5rem;
        border-radius: 0.9rem;
    }
    .mobile_nav .wrapper .spend_btn2.hide{
        display: none;
    }

}






/* NEW ANNOUNCEMENT */

/* ANNOUNCEMENT POPUP */
.new_btn.hide{
    display: none;
}
.new_btn{
    cursor: pointer;

    position: absolute;
    bottom: 3rem;
    right: 9rem;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    background-color: var(--primary);
    color: var(--purewhite);
    box-shadow: var(--white) 2px 2px 5px;
    border-radius: 1rem;
}
@media (max-width : 500px) {
    .new_btn{
        display: none;
    }
}

/* SPEND COINTAINER */

.popup_container .wrapper .new_box{
    display: none;
    transition: 0.5s;
}

.popup_container .wrapper .new_box.show{
    transition: 0.5s;
    width: 20rem;
    height: auto;
    background: var(--white);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
}

.popup_container .wrapper .new_box div:nth-child(1){
    width:15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.popup_container .wrapper .new_box div:nth-child(1) h3{
   color: var(--unhighlight_text);
   margin-bottom: 1.5rem;
}

.popup_container .wrapper .new_box div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.popup_container .wrapper .new_box div:nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.popup_container .wrapper .new_box .new_amount{
    width: 15rem
}
.popup_container .wrapper .new_box .new_image{
    width: 15rem;
    box-shadow: var(--white);
}
.popup_container .wrapper .new_box .new_description{
    margin-top: 1rem;
    height: 5rem;
    width: 15rem;
}
.popup_container .wrapper .new_box .new_add{
    background-color: var(--primary);
    padding: 1rem 2rem;
    color: white;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.popup_container .wrapper .new_box .new_close{
    color: var(--control_red);
    border-radius: 0.5rem;
    margin-top: 0.7rem;
}













/* OVERFLOW */


.new_container .wrapper{
    overflow-y: auto;
    height: 75dvh;
      scrollbar-width: thin;
      padding-right: 0.3rem;
    scrollbar-color: #88888813 #78676700; /* thumb | track */
}

.funds_container .wrapper ol{
    padding-right: 0.3rem;
    overflow-y: auto;
    height: 52dvh;
    scrollbar-width: thin;
    padding-right: 0.3rem;
    scrollbar-color: #88888813 #78676700; /* thumb | track */
}

#view_list{
    padding-right: 0.3rem;
    overflow-y: auto;
    scrollbar-color: #88888813 #78676700; /* thumb | track */
}


.expenses_list{
    height: 75dvh;
    padding-right: 0.3rem;
    overflow-y: auto;
    scrollbar-color: #88888813 #78676700; /* thumb | track */
}




















/* --------------------------------- REPEATABLES --------------------------------- */

/* ANNOUNCEMENT BOX */
.announcement_wrapper{
    display: grid;
    grid-template-columns: 10fr 1fr;
        
    background-color: var(--purewhite);
    border-radius: 0.5rem;
    border-left: solid;
    border-color: var(--primary);
    padding: 2rem 2rem;
    margin: 1rem 0;
}
@media (max-width:600px) {
    .announcement_wrapper{
    grid-template-columns: 1fr;
}
}


.announcement_wrapper h1{
    color: var(--primary);
    font-size: 2rem;
    margin-bottom: 0.3rem;
}
.announcement_wrapper h2{
    color: var(--unhighlight_text);
    margin-bottom: 0.8rem;
}
.announcement_wrapper h3{
    color: var(--black);
    margin-bottom: 1rem;
}
.preview_receipt{
    border-radius: 0.5rem;
    width: 5rem;
}
.preview_receipt.enlarge{
  position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    width: 30rem;
}
.preview_bg{
  position: absolute;
  width: 0px;
  height: 0px;
}
.preview_bg.enlarge{
  position: absolute;
  top: 0;
  left:  0;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--purewhite);
  opacity: 0.80;
}


.announcement_wrapper .delete_announcement_btn.hide{
  color: var(--control_red);
  display: none;
}

.announcement_wrapper .delete_announcement_btn{
  color: var(--control_red);
}





/* EXPENSES BOX */
.expenses_wrapper{
    display: grid;
    grid-template-columns: 10fr 1fr;
        
    background-color: var(--purewhite);
    border-radius: 0.5rem;
    border-left: solid;
    border-color: var(--control_red);
    padding: 2rem 2rem;
    margin: 1rem 0;
}
.expenses_wrapper h1{
    color: var(--control_red);
    font-size: 2rem;
    margin-bottom: 0.3rem;
}
.expenses_wrapper h2{
    color: var(--unhighlight_text);
    margin-bottom: 0.8rem;
}
.expenses_wrapper h3{
    color: var(--black);
}
.expenses_wrapper .preview_receipt{
    width: 5rem;
}
.expenses_wrapper .preview_receipt.enlarge{
  position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    width: 30rem;
}
.expenses_wrapper .preview_bg{
  position: absolute;
  width: 0px;
  height: 0px;
}
.expenses_wrapper .preview_bg.enlarge{
  position: absolute;
  top: 0;
  left:  0;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--purewhite);
  opacity: 0.80;
}

/* PREIVEW IMAGE */

.preview_receipt{
    border-radius: 0.5rem;
    width: 5rem;
}
.preview_receipt.enlarge{
  position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    width: 30rem;
}
.preview_bg{
  position: absolute;
  width: 0px;
  height: 0px;
}
.preview_bg.enlarge{
  position: absolute;
  top: 0;
  left:  0;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--purewhite);
  opacity: 0.80;
}




:root{
    --purewhite: #fff;
    --white: #e8e8e8;
    --black : #262626;
    --black_outline : #26262632;
    --primary : #6A8DFF;
    --primary_background : #6a8dffe3;
    --control_green:#64cf6b;
    --control_red:#fb8282;
    --unhighlight_text:#BEBEBE;
    --unhighlight_text_hover:#a09f9f;
    --lightgray:#f3efef77;
    --bg:#f3f3f3;

}

