@font-face {
    font-family: "helvetica";
    src: url(asset/font/Helvetica.ttf);
}

html,body,input, a, p,h1,h2,h3,textarea,h4,h5,h6,button, ul,ol,li{
    font-family: "helvetica";
    font-size: 1rem;
    color: var(--black);
    font-weight: 100;
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input{
    border: none;
    border-width: 1px;
    box-shadow: var(--black_outline) 1px 1px 3px;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
}
input:focus{
    outline: none;
}
textarea{
    resize: none;
    border: none;
    border-width: 1px;
    box-shadow: var(--black_outline) 1px 1px 3px;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
}
textarea:focus{
    outline: none;
}

.funds_container .wrapper .column_wrapper_hide{
    display: none;
}

.funds_container .wrapper .column_wrapper #list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.funds_container .wrapper .column_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--purewhite);
    transition: 0.5s;
    padding: 0.3rem 0;

}
.funds_container .wrapper .column_wrapper:hover{
    background-color: var(--lightgray);
    transition: 0.5s;
}
.funds_container .wrapper .column_wrapper div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.funds_container .wrapper ol .add_btn{
    margin-left: 2rem;
    margin-right: 2rem;
    color: var(--control_green);
}

.funds_container .wrapper ol .view_btn{
    margin-left: 2rem;
    margin-right: 2rem;
    color: var(--primary);
}





/* POPUP CONTAINER */
.popup_container{
    display: none;
    transition: 0.5s;
}
.popup_container.show{
    display: flex;
    transition: 0.5s;

    
}


/* ADD COINTAINER */
.popup_container .wrapper{
    width: 100dvw;
    height: 100dvh;
    background-color: var(--primary_background);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup_container .wrapper .add_box{
    display: none;
    transition: 0.5s;
}

.popup_container .wrapper .add_box.show{
    transition: 0.5s;
    width: 20rem;
    height: 25rem;
    background: var(--white);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
}

.popup_container .wrapper .add_box h3{
    width: 15rem;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1rem;
}

.popup_container .wrapper .add_box .amount{
    width: 15rem;
}
.popup_container .wrapper .add_box .description{
    margin-top: 1rem;
    height: 13rem;
    width: 15rem;
}
.popup_container .wrapper .add_box .add{
    background-color: var(--control_green);
    padding: 1rem 2rem;
    color: white;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.popup_container .wrapper .add_box .close{
    color: var(--control_red);
    border-radius: 0.5rem;
    margin-top: 0.7rem;
}






/* VIEW BOX */

.popup_container .wrapper .view_box{
    display: none;
}

.popup_container .wrapper .view_box.show{
    width: 20rem;
    height: 25rem;
    background: var(--white);
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 1fr 35fr 1fr;
    padding: 3rem 2rem;
}
.popup_container .wrapper .view_box h3{
    text-align: center;
}
.popup_container .wrapper .view_box h2{
    text-align: center;
    margin-bottom: 0.8rem;
    color: var(--unhighlight_text);
}

.popup_container .wrapper .view_box .info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.popup_container .wrapper .view_box .info h3{
    color: var(--unhighlight_text);
}
.popup_container .wrapper .view_box .info h2{
    color: var(--primary);
}
.popup_container .wrapper .view_box ol{
    overflow-y: auto;
}

.popup_container .wrapper .view_box ol div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 0.2rem;
    color: var(--black);
}

.popup_container .wrapper .view_box ol div span:nth-child(3){
    color: var(--unhighlight_text);
}


.popup_container .wrapper .view_box .close{
    color: var(--control_red);
    border-radius: 0.5rem;
    margin-top: 0.7rem;
}







/* SPEND POPUP */
.spend_btn{
    position: absolute;
    bottom: 3rem;
    right: 9rem;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    background-color: var(--control_red);
    color: var(--purewhite);
    box-shadow: var(--white) 2px 2px 5px;
    border-radius: 1rem;
}

/* SPEND COINTAINER */

.popup_container .wrapper .spend_box{
    display: none;
    transition: 0.5s;
}

.popup_container .wrapper .spend_box.show{
    transition: 0.5s;
    width: 20rem;
    height: auto;
    background: var(--white);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
}

.popup_container .wrapper .spend_box div:nth-child(1){
    width:15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.popup_container .wrapper .spend_box div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.popup_container .wrapper .spend_box div:nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.popup_container .wrapper .spend_box .spend_amount{
    width: 15rem
}
.popup_container .wrapper .spend_box .spend_image{
    width: 15rem;
    box-shadow: var(--white);
}
.popup_container .wrapper .spend_box .spend_description{
    margin-top: 1rem;
    height: 5rem;
    width: 15rem;
}
.popup_container .wrapper .spend_box .spend_add{
    background-color: var(--control_red);
    padding: 1rem 2rem;
    color: white;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.popup_container .wrapper .spend_box .spend_close{
    color: var(--control_red);
    border-radius: 0.5rem;
    margin-top: 0.7rem;
}









/* --------------------------------- REPEATABLES --------------------------------- */
.expenses_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--purewhite);
    border: solid;
    border-color: var(--primary);
    border-width: 1.5px;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}
.expenses_wrapper h1{
    color: var(--control_red);
    font-size: 2rem;
    margin-bottom: 0.3rem;
}
.expenses_wrapper h2{
    color: var(--unhighlight_text);
    margin-bottom: 0.8rem;
}
.expenses_wrapper h3{
    color: var(--black);
}
.expenses_wrapper .preview_receipt{
    width: 5rem;
}
.expenses_wrapper .preview_receipt.enlarge{
  position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    width: 30rem;
}
.expenses_wrapper .preview_bg{
  position: absolute;
  width: 0px;
  height: 0px;
}
.expenses_wrapper .preview_bg.enlarge{
  position: absolute;
  top: 0;
  left:  0;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--purewhite);
  opacity: 0.80;
}




:root{
    --purewhite: #fff;
    --white: #e8e8e8;
    --black : #262626;
    --black_outline : #26262632;
    --primary : #6A8DFF;
    --primary_background : #6a8dffe3;
    --control_green:#64cf6b;
    --control_red:#fb8282;
    --unhighlight_text:#BEBEBE;
    --lightgray:#f3efef77;

}


